In [1]:
import pandas as pd
import numpy as np

In [2]:
dftrain=pd.read_csv('new_train.csv',index_col='Unnamed: 0')
dftest=pd.read_csv('new_test.csv',index_col='Unnamed: 0')

/var/folders/t6/y1c9md1x7gn345j0_5253h500000gn/T/ipykernel_36847/1851235983.py:1: DtypeWarning: Columns (8,9,10,11,12) have mixed types. Specify dtype option on import or set low_memory=False.
  dftrain=pd.read_csv('new_train.csv',index_col='Unnamed: 0')

In [3]:
dftrain.head()

,date,store_nbr,id,family,sales,onpromotion,dcoilwtico,type_x,locale,locale_name,description,transferred,city,state,type_y,cluster,transactions
0,2013-01-01,1,0,AUTOMOTIVE,0.0,0,93.14,Holiday,National,Ecuador,Primer dia del ano,False,Quito,Pichincha,D,13,NaN
1,2013-01-01,1,1,BABY CARE,0.0,0,93.14,Holiday,National,Ecuador,Primer dia del ano,False,Quito,Pichincha,D,13,NaN
2,2013-01-01,1,2,BEAUTY,0.0,0,93.14,Holiday,National,Ecuador,Primer dia del ano,False,Quito,Pichincha,D,13,NaN
3,2013-01-01,1,3,BEVERAGES,0.0,0,93.14,Holiday,National,Ecuador,Primer dia del ano,False,Quito,Pichincha,D,13,NaN
4,2013-01-01,1,4,BOOKS,0.0,0,93.14,Holiday,National,Ecuador,Primer dia del ano,False,Quito,Pichincha,D,13,NaN

In [4]:
dftrain.drop(['id'],axis=1,inplace=True)
dftest.drop(['id'],axis=1,inplace=True)

In [7]:
def certprocess(data):
    data['date']=pd.to_datetime(data['date'],format='%Y-%m-%d')
    data=data.set_index(['date'])
    
    cols = data.select_dtypes(include=['object']).columns
    data = pd.get_dummies(data, columns=cols, prefix=cols, prefix_sep='-')
    
    return data

### 注意select_dtypes函数，可以挑选出type=object的列

In [8]:
dftrain = certprocess(dftrain)

In [9]:
dftest = certprocess(dftest)

In [10]:
dftrain

,store_nbr,sales,onpromotion,dcoilwtico,cluster,transactions,family-AUTOMOTIVE,family-BABY CARE,family-BEAUTY,family-BEVERAGES,...,state-Pastaza,state-Pichincha,state-Santa Elena,state-Santo Domingo de los Tsachilas,state-Tungurahua,type_y-A,type_y-B,type_y-C,type_y-D,type_y-E
date,,,,,,,,,,,,,,,,,,,,,
2013-01-01,1,0.0,0,93.14,13,NaN,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
2013-01-01,1,0.0,0,93.14,13,NaN,0,1,0,0,...,0,1,0,0,0,0,0,0,1,0
2013-01-01,1,0.0,0,93.14,13,NaN,0,0,1,0,...,0,1,0,0,0,0,0,0,1,0
2013-01-01,1,0.0,0,93.14,13,NaN,0,0,0,1,...,0,1,0,0,0,0,0,0,1,0
2013-01-01,1,0.0,0,93.14,13,NaN,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2014-08-13,29,0.0,0,97.57,10,NaN,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2014-08-13,29,0.0,0,97.57,10,NaN,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2014-08-13,29,0.0,0,97.57,10,NaN,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2014-08-13,29,0.0,0,97.57,10,NaN,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2014-08-13,29,0.0,0,97.57,10,NaN,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1